* {
	/* border: 1px solid red; */
	border: 0;
	margin: 0;
}
body{
	background: white;
	width: 100%;
}
/* menu */
.login{
	background-color: black;
	width: 100%;
	text-align: right;
	padding: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}
.login a{
	color: rgb(180, 180, 180);
	font-size: 1.1em;
	text-decoration: none;
	padding-right: 20px;
}
.login p{
	float: left;
	color:white;
	padding-left: 20px;
}
.login a:hover{
	color: aliceblue;
}
.callPhone{
	background-color: white;
	left: 85%;
	top: 90%;
	position: fixed;
	z-index: 3;
	visibility: hidden;
	padding: 5px;
	border-radius: 50%;
	background-size: 20px;
}
@media screen and (max-width: 768px){
	.callPhone{
		visibility: visible;
	}
}
.nav-bar{
    background-color: #3b577d;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
    top: 0;
}
.nav-bar li {
    display: inline-block;
    padding: 15px 8px 15px 8px;
}
.link{
    padding: 15px 10px 15px 10px;

}
.nav-bar li:hover {
    background-color: #44679f;
}
.link {
    font-size: 1.2em;
    color: rgb(180, 180, 180);
    text-decoration: none;
}
.nav-bar a:active,
.nav-bar a.active {
    color: #c0d9e5;
}
.nav-bar a:hover {
    color: aliceblue;
}
/*burger buton*/
.burguerbtn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #3b577d;
    visibility: hidden;
    position: fixed;
    top: 0;
    z-index: 3;
    text-align: end;
}
.burguerbtn p {
	color: white;
	z-index: 3;
}
/* fin burger */
/*responsive menu*/
@media screen and (max-width: 768px){
    .login{
        display: none;
    }
    .burguerbtn {
        color: white;
        visibility: visible;
        width: 100%;
        display: inline-block;
    }
    .fa-bars {
        padding: 10px;
    }
    .nav-bar {
        background: #44679f;
        position: fixed;
        z-index: 2;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 300ms;
        justify-content: center;
    }
    .nav-bar.active {
        top: -100%;
    }
    ul, menu, dir {
        -webkit-padding-start: 0;
    }
    .menu {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .link-item a{
        padding: 10px 0;
    }
    .menu li {
        display: block;
        justify-content: center;
        /*border-bottom: 1px solid white;*/
    }
}
/*fin responsive menu*/
/* fin menu */
/* portada */
.hero img {
	background-color: white;
	width: 100%;
	height: auto;
}
/* fin portada */

/* Quienes Somos */
.iconos {
	background-color: #e7e7e7;
	width: 100%;
	height: 100%;
	padding-bottom: 100px;
}
.text-center{
	margin: auto;
	padding-top: 100px;
}
.quinesSomos{
	padding-bottom: 20px;
	font-family: 'Lato-bold', sans-serif;
}
.text-primary{
	color: #44679f;
}
.row{
	display: flex;
	text-align: center;
}
.service-heading{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Lato - bold', sans-serif;
	font-size: 1.1em;
}
.text-muted{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	padding: 15px;
}
@media screen and (max-width: 768px){
	.row{
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.text-muted{
		padding-bottom: 20px;
	}
	.text-center{
		padding-top: 50px;
	}
}
/* fin Quienes somos */

/* ------------------------------ timeline ----------------------------- */
.history{
	color: white;
	font-size: 2em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.timeline .timeline-item::after, .timeline .timeline-item::before {
	clear: both;
	content: '';
	display: block;
	width: 100%;
}

.timeline {
	margin: 0 auto;
	/* padding: 0 10px; */
	position: relative;
	transition: all 0.25s ease-in;
	width: 100%;
	background-color: #c0d9e5;
}
/* linea central */
.timeline::before {
	background: #fefefe;
	content: '';
	height: 90%;
	left: 50%;
	position: absolute;
	top: 50px;
	width: 3px;
}

.timeline::after {
	clear: both;
	content: '';
	display: table;
	width: 100%;
}

.timeline a {
	color: #fefefe;
	font-weight: bold;
	transition: all 0.25s ease-in;
}

.timeline a:hover {
	box-shadow: 0 1px 0px 0px #fefefe;
	transition: all 0.25s ease-in;
}

.timeline .timeline-item {
	margin-bottom: 50px;
	position: relative;
}
.timeline-item{
	padding: 15px;
}
.timeline .timeline-item .timeline-icon {
	background: #fefefe;
	border-radius: 50%;
	height: 50px;
	left: 50%;
	margin-left: -23px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 50px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
	left: 14px;
	position: relative;
	top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
	top: 14px;
}
/* color de cuadro de texto */
.timeline .timeline-item .timeline-content {
	padding: 20px;
	text-align: right;
	transition: all 0.25s ease-in;
	width: 45%;
	/* background: transparent; */
	background: #44679f;
}

.timeline .timeline-item .timeline-content p {
	color: #fefefe;
}

.timeline .timeline-item .timeline-content p {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
	float: right;
	text-align: left;
}

@media screen and (max-width: 768px) {
	.timeline {
		margin: 30px;
		padding: 0;
		width: 90%;
	}
	.timeline::before {
		left: 0;
	}
	.timeline .timeline-item .timeline-content {
		float: right;
		text-align: left;
		width: 90%;
	}
	.timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
		border-left: 0;
		border-right: 7px solid #fefefe;
		left: 10%;
		margin-left: -6px;
	}
	.timeline .timeline-item .timeline-icon {
		left: 0;
	}
}
/* ---------------------- fin timeline --------------------------------------- */

/* sections */
.headerServicios{
	/*background-color: rgb(10, 10, 10, 0.5);*/
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: 'Lato - bold', sans-serif;
}
.section h1 {
	background-color: #cccccc;
	color: #38506a;
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
}
.serviciosAtm{
	color: #000;
	font-size: 18px;
	/* The image used */
	background-image: url("../img/ncr.jpg");

	/* Set a specific height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* eliminar el punto de los list items*/
ul, menu, dir {
	list-style-type: none;
}
/* eliminar el punto de los list items*/
.techSupport{
	color: #000;
	font-size: 18px;
	/* The image used */
	background-image: url("../img/techSupport.jpg");

	/* Set a specific height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.printer{
	color: #000;
	font-size: 18px;
	/* The image used */
	background-image: url("../img/tools.jpg");

	/* Set a specific height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.software{
	color: #000;
	font-size: 18px;
	/* The image used */
	background-image: url("../img/software.jpg");

	/* Set a specific height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.kioscos{
	color: #000;
	font-size: 18px;
	/* The image used */
	background-image: url("../img/design.jpg");

	/* Set a specific height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	display: flex;
	width: 80%;
	height: 50%;
	display: flex;
	margin: auto;
	padding: 25px;
}
.foto{
	padding: 15px;
	align-content: center;
	width: 50%;
	display: flex;
	justify-content: center;
}
.foto img{
	width: 100%;
	height: 100%;
}
.articulo{
	padding: 8px;
	width: 50%;
	background-color: #e7e7e7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Lato-bold', sans-serif;
	font-size: 1em;
	text-align: center;
}
.articulo h2{
	color: black;
}
.reverse{
	display: flex;
	flex-flow: row-reverse;
}
@media screen and (max-width: 768px) {
	.mobil{
		height: 50%;
	}
	.section h1 {
		background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
	}
	.section{
		background-image: none;
	}
	.container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	.foto{
		width: 100%;
		padding: 0;
	}
	.foto img{
		width: 100%%;
		height: 100%;
	}
	.articulo{
		width: 100%;
		padding: 0;
		padding-top: 20px;
		height: 60vh;
	}
}
/* fin section */

/* contacto */
/* inicia formulario */
.contacto {
	background-color: #e7e7e7;
	padding-top: 25px;
	padding-bottom: 25px;
}
.titulo-b{
	text-align: center;
}
.contactoForm{
	display: flex;
	flex-wrap: nowrap;
}
.cont {
	width: 50%;
	border: 1px solid #38506a;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	background-image: url("../img/mapa.jpg");
	background-size: cover;
}
form {
	width: 50%;
	border: 1px solid #38506a;
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	background-color: #e7e7e7;
}
label {
	font-size: 12px;
	display: none;
	width: 100%;
}
input, textarea {
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
textarea {
	resize: vertical;
	min-height: 100px;
	max-height: 300px;
}
input:focus, textarea:focus {
	border: 1px solid #38506a;
}
input[type="submit"]{
	margin-bottom: 1px;
	text-transform: uppercase;
	border: 1px solid #38506a;
	color: #38506a;
	background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover{
	background: #38506a;
	cursor: pointer;
	color: #000000;
}
/* fin formulario */
/* botones redes sociales*/
.red a {
	text-decoration: none;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {

	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
}
.btn-default {
	color: #38506a;
	border: 1px solid #38506a;
	background-color: transparent;

}
.btn-default:focus, .btn-default:hover {
	color: black;
	border: 1px solid #38506a;
	outline: none;
	background-color: #38506a;
}
@media screen and (max-width: 768px) {
	.contacto{
		border-top: 1px solid #38506a;
	}
	.contactoForm{
		display: flex;
		flex-wrap: wrap;
	}
	form {
		width: 100%;
	}
	.cont {
		width: 100%;
		text-align: center;
	}
}
/* fin botones redes sociales*/
@media screen and (max-width: 768px) {
	.section{
		background-image: none;
	}
}
/* fin contacto */

/* footer */
.footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px;
	display: flex;
	justify-content: space-around;
}
.develop {
	font-size: 12px;
}
.develop a{
	color: rgb(138, 138, 138);
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.footer{
		display: flex;
		flex-wrap: wrap;
	}
}
/* fin footer */