*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;

  }
  .container {
      background: black;
      /* padding: 10px; */
        display: grid;
        grid-template: 100% 100% 100%/ 150px 75%;
        grid-gap: 5px;
        justify-content: center;
        color: black;
        grid-template-areas: "menu hero"
                         "menu main"
                         "footer footer";
    }
    .hero {
        margin: 0;
        padding: 0;
    }
    .hero img {
        width: 100%;
        vertical-align: top;
        height: 100%;
    }
    .item-menu {
        margin-top: 20px;
        padding-bottom: 10px;
        color: white;
        text-align: center;
        font-size: 3em;
        width: 100%;
    }
    ul, menu, dir {
        /* display: block; */
        list-style-type: none;
        padding: 0;
        text-align: center;
        
        
    }      
    .menu li a{
        /* display: block; */
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
        width: 100%;
    }
    .menu li a:hover{
        background-color: tan;
    }
    .menu {
        border: 1px solid white;
        background: lightblue;
        padding: 0;
    }
    .items {
        border: 1px solid white;
        background: lightblue;
        padding: 10px;
    }
    .main {
        display: grid;
        grid-gap: 5px;
    }
    .articulo {
      display: grid;
      grid-gap: 5px;
      justify-content: center; 
      grid-template: 100% / 20% 75%; 
      grid-template-areas: "foto arti";
    }
    .foto {
    grid-area: foto;
  }
    .arti {
    grid-area: arti;
  }
  .contenido img {
      max-width: 100%;
      height: cover;
  }
  @media screen and (max-width: 768px) {
    .container {
        grid-template:  100% / 100%;
        grid-template-areas: "menu menu"
                             "hero hero"
                             "main main"
                            "footer footer";
        
    }
    .menu p{
        display: none;
    }
    .nav-bar ul li a{
        display: inline-block;
        color: white;
        text-decoration: none;
    }  
    .articulo  {
      grid-template-columns: 100% 1fr;
      grid-template-areas: 
                           "foto"
                           "arti";
    }
  }
    .articulo .contenido  {
        border: 1px solid white;
        padding: 10px;
    }
    .item:nth-of-type(5) {
    background: blue;
    overflow: auto;
    /*display: subgrid;*/
    /*display: inline-grid;*/
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
  }
  .item .item {
    background: yellow;
  }
  .hero {
    grid-area: hero;
    
  }
  .menu {
    grid-area: menu;
  }
  .main {
    grid-area: main;

  }
.footer {
    grid-area: footer;
    height: 100%;
	margin-top: 0; 
	border-top: 1px solid #BCBCBC;
    box-shadow: 6px 2px 2px 0 rgba(0, 0, 0, .4); 
    display: grid;
    justify-content: right;   
}
.contacto {
	color: black;
	font-size: 15px;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 25px;
	padding-bottom: 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#map iframe {
	margin-top: 10px;
	width: 100%;
}
.cont {
	padding: 50px;
}
.cn {
	padding: 50px 20px 50px 20px;
	text-align: justify;
	height: 100%;
	background-color: #EBEBEB;
	border: 1px solid #B9B9B9;
}
form {
  width: 40%;
  border: 1px solid #38506a;
  margin: 20px;
  padding: 20px;
  }
label {
  font-size: 12px;
  display: none;
  width: 100%;
  }
input, textarea {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
}
textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
input:focus, textarea:focus {
  border: 1px solid #38506a;
}
input[type="submit"]{
  margin-bottom: 1px;
  text-transform: uppercase;
  border: 1px solid #38506a;
  color: #38506a;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover{
  background: #38506a;
  cursor: pointer;
  color: #000000;
}
/* fin formulario */